.filter__clear {
  max-width: 176px;
  margin-left: auto;
  border-radius: 50px;
  color: #8D92A3;
  height: 42px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.filter__clear .icon-cancel {
  color: #911C2C;
  font-weight: bold;
  font-size: 10px;
}

.comparep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comparep__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 2rem;
}

.comparep__cards .card {
  width: 268px;
  margin-right: 1rem;
  margin-bottom: 0;
}

.comparep__cards .card:last-child {
  margin-right: 0;
}

.comparep__params {
  margin-bottom: 1rem;
}

.comparep__params h3 {
  margin-bottom: 1rem;
}

.comparep__data {
  position: relative;
}

.comparep__data-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

.comparep__data-title {
  border-top: 1px solid #D5E1E8;
  color: #8D92A3;
  padding: 1rem;
}

.comparep__data-title:hover {
  background: #EBF0F5;
}
