@font-face {
  font-family: "Raleway";
  font-weight: 100;
  src: url("../css/fonts/Raleway-Thin.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 200;
  src: url("../css/fonts/Raleway-ExtraLight.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 300;
  src: url("../css/fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("../css/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url("../css/fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src: url("../css/fonts/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("../css/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  src: url("../css/fonts/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 900;
  src: url("../css/fonts/Raleway-Black.ttf");
}

@font-face {
  font-family: 'icomoon';
  src: url("../css/icons/icomoon.eot?2dwkhe");
  src: url("../css/icons/icomoon.eot?2dwkhe#iefix") format("embedded-opentype"), url("../css/icons/icomoon.ttf?2dwkhe") format("truetype"), url("../css/icons/icomoon.woff?2dwkhe") format("woff"), url("../css/icons/icomoon.svg?2dwkhe#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal !important;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-burger:before {
  content: "\e900";
}

.icon-cart:before {
  content: "\e901";
}

.icon-check:before {
  content: "\e902";
}

.icon-close:before {
  content: "\e903";
}

.icon-compare:before {
  content: "\e904";
}

.icon-dropdown-down:before {
  content: "\e905";
}

.icon-dropdown-up:before {
  content: "\e906";
}

.icon-favorite:before {
  content: "\e907";
}

.icon-favorite-added:before {
  content: "\e908";
}

.icon-go-right:before {
  content: "\e909";
}

.icon-instagram:before {
  content: "\e90a";
}

.icon-location:before {
  content: "\e90b";
}

.icon-map:before {
  content: "\e90c";
}

.icon-phone:before {
  content: "\e90d";
}

.icon-plus:before {
  content: "\e90e";
}

.icon-search:before {
  content: "\e90f";
}

.icon-slider-left:before {
  content: "\e910";
}

.icon-slider-right:before {
  content: "\e911";
}

.icon-user:before {
  content: "\e912";
}

* {
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body,
.grid-container {
  min-width: 320px;
}

.modal-active {
  overflow: hidden;
}

.card-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-section__image {
  margin-bottom: 16px;
  position: relative;
}

.card-section__hit {
  position: absolute;
  background: #F02727;
  border-radius: 4px;
  color: #FFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 4px 19px;
  top: 0;
  right: 0;
}

.card-section__warning {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-section__warning-text {
  color: #911C2C;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: #FFF;
  padding: 24px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  z-index: 10;
  display: none;
}

.card-section__warning.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.card-section__warning.show.compare-add .compare-add,
.card-section__warning.show.cart-add .cart-add,
.card-section__warning.show.favorite-add .favorite-add {
  display: block;
}

.card-section__category {
  font-size: 14px;
  line-height: 16px;
  color: #8D92A3;
  margin-bottom: 12px;
}

.card-section__category:hover {
  color: #911C2C;
}

.card-section__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #3F4351;
}

.card-section__title:hover {
  color: #911C2C;
}

.card-section__bottom {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-section__price-old {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-transform: uppercase;
  color: #D74C4C;
  margin-bottom: 12px;
}

.card-section__price-new {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #3F4351;
}

.card-section__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card-section__button {
  border: 1px solid #911C2C;
  margin-right: 8px;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  color: #911C2C;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.card-section__button.favorite i {
  margin-top: 1px;
}

.card-section__button.plus {
  padding-left: 2px;
}

.card-section__button.compare {
  padding-left: 1px;
}

.card-section__button:hover {
  background: #911C2C;
  color: #FFF;
}

.card-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.grid-table .card {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.grid-table .card-section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.grid-table .card-section__image {
  margin-bottom: 0;
}

.grid-table .card-section__hit {
  left: 0;
  right: auto;
}

.grid-table .card-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.grid-table .card-section__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.grid-table .card-section__price-old {
  margin-bottom: 1px;
  margin-right: 1rem;
}

.grid-table .card-section__button {
  color: #8D92A3;
  border-color: #8D92A3;
}

.grid-table .card-section__button.plus {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.grid-table .card-section__button.compare {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.grid-table .card-section__button.favorite {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.grid-table .card-section__button:hover {
  color: #FFF;
  background-color: #8D92A3;
}

.card {
  min-height: 409px;
}

.header__top {
  border-bottom: 1px solid #ECECEC;
}

.header__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #8D92A3;
}

.header__top-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-cities a {
  color: #8D92A3;
}

.header__center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 63px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__bottom {
  background: #911C2C;
  color: #FFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header__bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 52px;
  position: relative;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  white-space: nowrap;
}

.header__logo-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #3F4351;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-link:hover {
  color: #911C2C;
}

.header__logo-link img {
  margin-right: 1rem;
}

.header__menu {
  margin-right: auto;
  height: 63px;
}

.header__menu .dropdown.menu a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #3F4351;
  padding: 24px 16px 23px;
}

.header__menu .dropdown.menu a:hover {
  color: #911C2C;
}

.header__menu .dropdown.menu .is-active > a {
  color: #911C2C;
}

.header__menu .dropdown.menu .is-dropdown-submenu-parent.is-active:after {
  content: "";
  position: absolute;
  background: #FFFFFF;
  width: 12px;
  height: 12px;
  bottom: -6px;
  z-index: 9;
  left: calc(50% - 6px);
  border: 1px solid;
  border-color: #D5E1E8 #D5E1E8 transparent transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__menu .dropdown.menu .is-dropdown-submenu-item a {
  padding: 12px 10px;
}

.header__menu .dropdown.menu .menu.submenu.is-dropdown-submenu {
  border: 1px solid #D5E1E8;
  padding: 8px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.header__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__sign #sign-up {
  left: auto !important;
  right: 0 !important;
}

.dropdown.menu a:hover {
  color: #911C2C;
}

.dropdown.menu .is-active > a {
  color: #911C2C;
}

.dropdown.menu .is-dropdown-submenu-parent.is-active:after {
  content: "";
  position: absolute;
  background: #FFFFFF;
  width: 12px;
  height: 12px;
  bottom: -6px;
  z-index: 9;
  left: calc(50% - 6px);
  border: 1px solid;
  border-color: #D5E1E8 #D5E1E8 transparent transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.dropdown.menu .is-dropdown-submenu-item a {
  padding: 12px 10px;
}

.dropdown.menu .menu.submenu.is-dropdown-submenu {
  border: 1px solid #D5E1E8;
  padding: 8px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.phone {
  margin-right: 3rem;
}

.phone a {
  color: inherit;
}

.phone a:hover {
  color: #911C2C;
}

.phone i {
  margin-right: 12px;
}

.location a {
  color: inherit;
}

.location a:hover {
  color: #911C2C;
}

.location i.icon-location {
  margin-right: 12px;
}

.dropdown.menu.custom > li.is-dropdown-submenu-parent > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #8D92A3;
  padding: 13px 22px 13px 0;
}

.dropdown.menu.custom > li.is-dropdown-submenu-parent > a:hover {
  color: #911C2C;
}

.pc-search.button {
  outline: none;
  background-color: #FFF;
  color: #8D92A3;
  opacity: 0.8;
  margin: 0;
  padding: 13.5px;
  border: none;
}

.pc-search.button:hover {
  opacity: 1;
  background-color: #FFF;
  color: #911C2C;
}

.pc-search.button:focus {
  background-color: #FFF;
  color: #8D92A3;
}

.pc-search__block {
  padding: 0;
  border: none;
  background: transparent;
}

.pc-search__input {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #8D92A3;
  padding: 2rem;
  padding-right: 5rem;
  background: #FCFCFC;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto;
}

.pc-search__form {
  outline: none;
  position: relative;
}

.pc-search__button {
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  color: #911C2C;
  font-size: 19px;
  cursor: pointer;
  opacity: 0.75;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.pc-search__button:hover {
  opacity: 1;
}

.sign__button {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 24px 16px 23px;
  color: #3F4351;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.sign__button i.icon-user {
  font-size: 1rem;
  color: #8D92A3;
  margin-right: 12px;
}

.sign__button:hover {
  color: #911C2C;
}

.sign__button:hover i.icon-user {
  color: #911C2C;
}

.sign__delimeter {
  border: 1px solid #B2B2B2;
  height: 1rem;
  width: 1px;
}

.sign__container {
  border: none;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.sign__container-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #3B4256;
  margin: 5px 0 21px;
}

.sign__container input {
  border: none;
  border-bottom: 1px solid #E5E5E5;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
  font-size: 14px;
  color: #911C2C;
  height: auto;
  margin-bottom: 8px;
  padding: 13px 0;
}

.sign__container input:focus {
  border: none;
  border-bottom: 1px solid #911C2C;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sign__container .sign__submit {
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  background: #911C2C;
  border-radius: 30px;
  outline: none;
  margin-top: 2rem;
  cursor: pointer;
  border: 1px solid #911C2C;
  padding: 11px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.sign__container .sign__submit:hover {
  background: #FFF;
  color: #911C2C;
}

.sign__container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3F4351;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin: 1rem 0;
}

.sign__container-bottom a {
  color: #911C2C;
}

.sign__container-bottom a:hover {
  text-decoration: underline;
}

.sign__container#sign-in input[type="password"] {
  padding-right: 7rem;
}

.sign__container#sign-in label {
  position: relative;
}

.sign__container#sign-in label .forgot {
  color: #911C2C;
  position: absolute;
  right: 0;
  top: 0;
  padding: 11px 0px;
}

.sign__captcha {
  margin-top: 2rem;
}

.catalog .menu {
  height: 54px;
  overflow: hidden;
}

.catalog .menu li:first-child, .catalog .menu li:nth-child(2) {
  margin-left: -16px;
}

.catalog .catalog__item {
  background-color: transparent;
  margin: 0;
  border: 0;
  padding: 19px 16px;
  color: #FFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  outline: none;
  position: relative;
}

.catalog .catalog__item i {
  margin-right: 1rem;
}

.catalog .catalog__item.hover, .catalog .catalog__item:hover {
  text-decoration: underline;
}

.catalog .catalog__item.hover:after {
  content: "";
  position: absolute;
  background: #FFFFFF;
  width: 12px;
  height: 12px;
  bottom: -6px;
  z-index: 9;
  left: calc(50% - 6px);
  border: 1px solid;
  border-color: #FFF #FFF transparent transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.catalog__content {
  padding: 2rem 1rem;
}

.catalog__content .tabs {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__content .tabs-content {
  border: none;
}

.catalog__content .tabs-title {
  margin-right: 10px;
  margin-bottom: 1rem;
  min-width: 32px;
  height: 32px;
  border-radius: 100px;
}

.catalog__content .tabs-title.is-active a {
  color: #FFF;
  background: #911C2C;
}

.catalog__content .tabs-title:last-child {
  margin-right: 0;
}

.catalog__content .tabs-title a {
  color: #9E9E9E;
  background: #ECECEC;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 0 10px !important;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  white-space: nowrap;
}

.catalog__content .tabs-title a:hover {
  color: #FFF;
  background: #911C2C;
}

.catalog__content .tabs-panel {
  padding: 0;
}

.catalog__content .tabs-panel .title {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #8D92A3;
  overflow: hidden;
  margin-bottom: 1rem;
}

.catalog__content .tabs-panel .title:before, .catalog__content .tabs-panel .title:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background: #EAEAEA;
  border: solid #FFF;
  border-width: 0 10px;
}

.catalog__content .tabs-panel .title:before {
  margin-left: -100%;
}

.catalog__content .tabs-panel .title:after {
  margin-right: -100%;
}

.catalog .dropdown-pane {
  width: calc(100% + 32px);
  padding: 0;
  border: none;
  -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 4px 4px;
  z-index: 8;
  max-width: 1168px;
  left: -16px !important;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
  max-height: 25rem;
  margin: 0;
  list-style-type: none;
}

.catalog__list li {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16.66%;
  padding-right: 1rem;
}

.catalog__list-header a {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #911C2C;
}

.catalog__list-header a:hover {
  text-decoration: underline;
}

.catalog__list-item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #3F4351;
}

.catalog__list-item a:hover {
  color: #911C2C;
}

.brands-tab__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  max-height: 18rem;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}

.brands-tab__list li {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands-tab__list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #3F4351;
  padding: .5rem 1rem .5rem 0 !important;
  width: 100%;
}

.brands-tab__list-item:hover {
  color: #911C2C;
}

.widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.widget {
  margin-left: 1rem;
  margin-right: 9px;
}

.widget a {
  color: #FFF;
  position: relative;
  font-size: 20px;
  line-height: 20px;
}

.widget .count {
  background-color: #FFF;
  color: #911C2C;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  min-width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 3px;
  position: absolute;
  top: -9px;
  right: -9px;
}

.subscribe {
  background: #EBF1F5;
}

.subscribe__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 64px;
}

.subscribe__text {
  color: #3F4351;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__text img {
  margin-top: -9px;
  margin-right: 24px;
}

.subscribe__block {
  max-width: 272px;
  width: 100%;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.input-custom {
  margin: 0;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #8D92A3;
  padding: 13px 16px 13px 16px;
  height: auto;
}

.input-custom:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input-custom__button {
  cursor: pointer;
  position: absolute;
  right: 0;
  color: #911C2C;
  padding: 12px;
}

.footer__logo .header__logo-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer__contacts {
  margin-top: 1rem;
}

.footer__list {
  list-style-type: none;
  margin: 0;
}

.footer__list-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #3F4351;
  margin-top: 6.5px;
  margin-bottom: 22px;
}

.footer__list-item {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__list-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #3F4351;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer__list-link:hover, .footer__list-link.red {
  color: #911C2C;
}

.footer__list-link i {
  color: #DBDBDB;
  margin-right: 12px;
  font-size: 17px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}

.footer__wrapper {
  margin-top: 24px;
  margin-bottom: 42px;
}

.footer__phone {
  display: none;
}

.sitemap__block {
  margin-right: 2rem;
}

.sitemap__link {
  color: #911C2C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sitemap__link i {
  font-size: 16px;
  margin-right: 6px;
}

.copyright {
  color: #8D92A3;
  margin-bottom: 40px;
}

.copyright__item {
  margin-bottom: 1rem;
}

.copyright__item a {
  color: #7465CB;
}

.copyright__item a:hover {
  color: #911C2C;
}

.copyright__item:last-child {
  margin-bottom: 0;
}

.menu__mobile {
  display: none;
}

.menu__mobile .dropdown-pane {
  padding-top: 0;
}

.mobile__auth {
  display: none;
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
  content: '\e905';
  font-family: 'icomoon' !important;
  border: none;
  width: 18px;
  height: 18px;
  margin: 0;
  right: 1rem;
  top: calc(50% - 9px);
  color: #8D92A3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 8px;
}

.accordion-menu__wrapper {
  margin-right: -.5rem;
  margin-left: -.5rem;
}

.accordion-menu__mobile-menu {
  width: 100%;
}

.accordion-menu__mobile-menu li {
  border-bottom: 1px solid #D5E1E8;
}

.accordion-menu__mobile-menu li.is-accordion-submenu-parent[aria-expanded="true"] {
  background: #EFEFEF;
}

.accordion-menu__mobile-menu li.is-accordion-submenu-parent[aria-expanded="true"] a {
  color: #911C2C;
}

.accordion-menu__mobile-menu li.is-accordion-submenu-parent[aria-expanded="true"] .submenu a {
  color: #3F4351;
}

.accordion-menu__mobile-menu li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #3F4351;
  padding: 1rem;
}

.accordion-menu__mobile-menu li .submenu {
  margin-bottom: 12px;
}

.accordion-menu__mobile-menu li .submenu li {
  border: none;
}

.accordion-menu__mobile-menu li .submenu li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  content: '\e905';
  font-family: 'icomoon' !important;
  border: none;
  width: 18px;
  height: 18px;
  margin: 0;
  right: 0;
  top: calc(50% - 8px);
  color: #8D92A3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 8px;
}

.dropdown.menu > li.is-dropdown-submenu-parent.is-active > a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  top: calc(50% - 9px);
  color: #911C2C;
}

.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.all__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #911C2C;
  padding: 16px 71px;
  border: 1px solid #D5E1E8;
  border-radius: 30px;
}

.all__link:hover {
  color: #FFF;
  background: #911C2C;
  border-color: #911C2C;
}

.tabs__main .tabs {
  border: none;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.tabs__main .tabs-title {
  margin-right: 2rem;
}

.tabs__main .tabs-title:last-child {
  margin-right: 0;
}

.tabs__main .tabs-title > a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #3F4351;
  padding: 6px 0;
  border-bottom: 2px solid transparent;
  outline: none;
}

.tabs__main .tabs-title > a:focus,
.tabs__main .tabs-title > a[aria-selected='true'] {
  color: #911C2C;
  background: transparent;
  border-color: #911C2C;
}

.tabs__main .tabs-content {
  border: none;
}

.tabs__main .tabs-content .tabs-panel {
  padding: 0;
}

section {
  padding: 2rem 0;
}

.section__banner {
  padding: 2rem 0 1rem;
}

.section__banner .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 400px;
  height: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.section__banner .banner__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__banner .banner__image:after {
  content: '';
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65)), color-stop(67.25%, rgba(0, 0, 0, 0)));
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 67.25%);
}

.section__banner .banner__info {
  position: absolute;
  bottom: 0;
  padding: 24px;
}

.section__banner .banner__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.section__banner .banner__slider {
  margin-top: 24px;
}

.section__banner .banner__small {
  max-height: 192px;
}

.section__info {
  padding-bottom: 4rem;
  margin-top: 1rem;
  border-top: 1px solid #D5E1E8;
}

.info__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #3F4351;
  margin-bottom: 2rem;
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.info__item:last-child {
  margin-bottom: 0;
}

.info__item-num {
  border: 1px solid #D5D5D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #3F4351;
  max-width: 42px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.info__item-block {
  padding: 0 1rem;
}

.info__item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #3F4351;
  padding: 11.5px 0 16px;
}

.info__item-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #8D92A3;
}

.slick-slide {
  padding: 0 .5rem;
  outline: none;
}

@media screen and (max-width: 1123px) {
  .header__menu .dropdown.menu.show-for-large li:last-child {
    display: none;
  }
}

@media screen and (max-width: 64rem) {
  .grid-container {
    max-width: 53rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .subscribe__wrapper {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .footer__contacts .footer__list {
    margin-bottom: 2rem;
  }
  .catalog .menu li:nth-child(2) {
    margin-left: 0;
  }
  .header__sign {
    margin-right: -1rem;
  }
  .section__banner .banner__link {
    font-size: 16px;
    line-height: 22px;
  }
  .section__tabs .tabs__main .medium-up-3 .cell {
    display: none;
  }
  .section__tabs .tabs__main .medium-up-3 .cell:nth-child(-n+3) {
    display: block;
  }
}

@media screen and (max-width: 48rem) {
  .header__top, .header__menu {
    display: none;
  }
  .header__logo {
    margin-right: 0;
  }
  .catalog {
    display: none;
  }
  .menu__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__mobile .button {
    margin: 0;
    background: transparent;
    border: none;
    padding: 18px 0.5rem;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    outline: none;
  }
  .menu__mobile .button i {
    margin-right: 16px;
  }
  .menu__mobile .dropdown-pane {
    height: 100vh;
    border: none;
    width: calc(100% + 16px);
    left: -8px !important;
    position: fixed;
  }
}

@media screen and (max-width: 40rem) {
  .subscribe {
    background: #F5F5F5;
  }
  .subscribe__wrapper {
    padding: 1rem 0;
  }
  .subscribe__text {
    margin-right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #8D92A3;
  }
  .input-custom {
    background: #EEEEEE;
    color: #8D92A3;
  }
  .footer__wrapper-mobile .accordion-menu {
    width: 100%;
  }
  .footer__wrapper-mobile .accordion-menu li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3F4351;
    padding: 14px 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__wrapper-mobile .accordion-menu li a i.icon-burger {
    margin-right: 14px;
  }
  .footer__wrapper-mobile .accordion-menu li a.sitemap {
    color: #8D92A3;
  }
  .footer__wrapper-mobile .accordion-menu li a.sitemap i {
    font-size: 16px;
    margin-right: 6px;
  }
  .footer__wrapper-mobile .accordion-menu .is-accordion-submenu-parent[aria-expanded="true"] a {
    background: #DFE5EB;
  }
  .footer__wrapper-mobile .accordion-menu .is-accordion-submenu-parent[aria-expanded="true"] .is-accordion-submenu-item a {
    background: #E9ECEF;
  }
  .footer__wrapper-mobile .accordion-menu .is-accordion-submenu-parent .is-accordion-submenu {
    background: #E9ECEF;
    padding: 10px 0;
  }
  .footer__bottom {
    font-weight: 500;
    font-size: 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 16px;
    color: #8D92A3;
    padding: 12px 8px;
  }
  .footer__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #8D92A3;
    font-weight: 500;
    font-size: 13px;
    line-height: 26px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 24px;
  }
  .footer__phone-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__phone-text a {
    color: #8D92A3;
    font-size: 18px;
  }
  .footer__phone i {
    color: #B5B9C5;
    font-size: 24px;
    margin-right: 14px;
  }
  .sitemap__block {
    display: none;
  }
  footer {
    background: #F5F5F5;
  }
  .section__banner {
    padding-top: 0;
    padding-bottom: 2rem;
    overflow: hidden;
  }
  .section__banner .grid-container {
    padding: 0;
  }
  .section__banner .banner {
    border-radius: 0;
    margin-bottom: 0;
    max-height: 220px;
  }
  .section__banner .banner__image:after {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  .section__banner .banner__info {
    width: 70%;
  }
  .section__banner .banner__small {
    max-height: 110px;
  }
  .section__banner .banner__small .banner__info {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__tabs .tabs__main .medium-up-3 .cell {
    display: block;
  }
}

@media screen and (max-width: 37rem) {
  .subscribe__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__text {
    margin-bottom: 1rem;
  }
  .subscribe__block {
    max-width: none;
  }
}

@media screen and (max-width: 28rem) {
  .sign__button,
  .sign__delimeter {
    display: none;
  }
  .mobile__auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__logo-link {
    font-size: 14px;
    line-height: 16px;
  }
}
