@font-face {
    font-family: "Raleway";
    font-weight: 100;
    src : url("../css/fonts/Raleway-Thin.ttf");
}
@font-face {
    font-family: "Raleway";
    font-weight: 200;
    src : url("../css/fonts/Raleway-ExtraLight.ttf");
}
@font-face {
    font-family: "Raleway";
    font-weight: 300;
    src : url("../css/fonts/Raleway-Light.ttf");
}
@font-face {
    font-family: "Raleway";
    font-weight: 400;
    src : url("../css/fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Raleway";
    font-weight: 500;
    src : url("../css/fonts/Raleway-Medium.ttf");
}
@font-face {
    font-family: "Raleway";
    font-weight: 600;
    src : url("../css/fonts/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: "Raleway";
    font-weight: 700;
    src : url("../css/fonts/Raleway-Bold.ttf");
}
@font-face {
    font-family: "Raleway";
    font-weight: 800;
    src : url("../css/fonts/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "Raleway";
    font-weight: 900;
    src : url("../css/fonts/Raleway-Black.ttf");
}

  @font-face {
    font-family: 'icomoon';
    src:  url('../css/icons/icomoon.eot');
    src:  url('../css/icons/icomoon.eot#iefix') format('embedded-opentype'),
      url('../css/icons/icomoon.ttf') format('truetype'),
      url('../css/icons/icomoon.woff') format('woff'),
      url('../css/icons/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }