i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal !important;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-filter-dropdown-up:before {
    content: "\e904";
}
.icon-check:before {
content: "\e903";
}
.icon-compare:before {
content: "\e900";
}
.icon-favorite:before {
content: "\e901";
}
.icon-plus:before {
content: "\e902";
}
