@import 'fonts';
* {
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.card-section {
    display: flex;
    flex-direction: column;

    &__image {
        margin-bottom: 16px;
        position: relative;


    }
    &__hit {
        position: absolute;
        background: #F02727;
        border-radius: 4px;
        color: #FFF;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }
    &__category {
        font-size: 14px;
        line-height: 16px;
        color: #8D92A3;
        margin-bottom: 12px;

    }
    &__title {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #3F4351;
    }
    &__bottom {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
    }

    &__price {
        &-old {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-decoration-line: line-through;
            text-transform: uppercase;
            color: #D74C4C;
            margin-bottom: 12px;
        }
    
        &-new {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            text-transform: uppercase;
            color: #3F4351;
        }
    }
    &__buttons {
        display: flex;
        align-items: flex-end;
    }
    &__button {
        border: 1px solid #911C2C;
        margin-right: 8px;
        border-radius: 100%;
        width: 2rem;
        height: 2rem;
        color: #911C2C;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;

        &.favorite {
            i {
                margin-top: 1px;
            }
        }
        &:hover {
            background: #911C2C;
            color: #FFF;
        }
    }



}

.card {
    min-height: 409px;
}
