@import 'fonts';
@import 'icons';

$tansition-setting: all 0.3s ease-out;

* {
    font-feature-settings: 'pnum' on, 'lnum' on;
}
a {
    transition: $tansition-setting;
}
.card-section {
    display: flex;
    flex-direction: column;

    &__image {
        margin-bottom: 16px;
        position: relative;


    }
    &__hit {
        position: absolute;
        background: #F02727;
        border-radius: 4px;
        color: #FFF;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        padding: 4px 19px;
        top: 0;
        right: 0;
    }
    &__warning {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: none;
        justify-content: center;
        align-items: center;

        &-text {
            color: #911C2C;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            background-color: #FFF;
            padding: 24px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
            border-radius: 4px;
            z-index: 10;
            display: none;  
        }

        &.show {
            display: flex !important;

            &.compare-add .compare-add,
            &.cart-add .cart-add,
            &.favorite-add .favorite-add {
                display: block;
            }
        }
    }
    &__category {
        font-size: 14px;
        line-height: 16px;
        color: #8D92A3;
        margin-bottom: 12px;

        &:hover {
            color: #911C2C;
        }

    }
    &__title {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #3F4351;

        &:hover {
            color: #911C2C;
        }
    }
    &__bottom {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
    }

    &__price {
        &-old {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-decoration-line: line-through;
            text-transform: uppercase;
            color: #D74C4C;
            margin-bottom: 12px;
        }
    
        &-new {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            text-transform: uppercase;
            color: #3F4351;
        }
    }
    &__buttons {
        display: flex;
        align-items: flex-end;
    }
    &__button {
        border: 1px solid #911C2C;
        margin-right: 8px;
        border-radius: 100%;
        width: 2rem;
        height: 2rem;
        color: #911C2C;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        transition: $tansition-setting;

        &.favorite {
            i {
                margin-top: 1px;
            }
        }
        &.plus {
            padding-left: 2px;
        }
        &.compare {
            padding-left: 1px;
        }
        &:hover {
            background: #911C2C;
            color: #FFF;
        }
    }
}
.grid-table {
    .card {
        min-height: fit-content;

        &-section {
            flex-direction: row;

            &__image {
                margin-bottom: 0;
            }
            &__hit {
                left: 0;
                right: auto;
            }
            &__content {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }
            &__price {
                display: flex;
                align-items: flex-end;

                &-old {
                    margin-bottom: 1px;
                    margin-right: 1rem;
                }
            }
            &__button {
                color: #8D92A3;
                border-color: #8D92A3;
                &.plus {
                    order: 1;
                }
                &.compare {
                    order: 2;
                }
                &.favorite {
                    order: 3;
                }
                &:hover {
                    color: #FFF;
                    background-color: #8D92A3;
                }
            }
        }
    }
}

.card {
    min-height: 409px;
}

.header {
    &__top {
        //display: flex;
        border-bottom: 1px solid #ECECEC;

        &-content {
            display: flex;
            min-height: 42px;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.dropdown {
    &.menu.custom>li.is-dropdown-submenu-parent>a {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #8D92A3;
        padding: 13px 22px 13px 0;

        &:after {
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal !important;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
          
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        
            content: "\e905";
            border: none;
            color: #8D92A3;
        }
    }
}
.pc-search {
    &.button {
        outline: none;
        background-color: #FFF;
        color: #8D92A3;
        opacity: 0.8;
        margin: 0;
        padding: 13px;

        &:hover {
            opacity: 1;
            background-color: #FFF;
            color: #911C2C;

        }
    }
}